@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;700&display=swap');


:root {
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

body {
  width: 100%;
  height: 1000px;
  background-image: url(taer.png), url(rando.png), url(taeri.png);
  background-position: bottom, left, right;
  background-repeat: no-repeat;
}
